ES_BASE=/opt/elasticsearch
SG_CONF_CACHE=/opt/elasticsearch/sgconfig
SG_HOST=localhost
SG_PORT=9300
KEY_STORE=/opt/elasticsearch/client-certificates/sgadmin-keystore.jks
KEY_PASS="correct horse battery staple"
TRUST_STORE=/opt/elasticsearch/config/truststore.jks
TRUST_PASS="correct horse battery staple"
#KEY_FILE=/opt/elasticsearch/client-certificates/sgadmin.key
#KEY_PASS="correct horse battery staple"
#CERT_FILE=/opt/elasticsearch/client-certificates/sgadmin.crt
#CA_FILE=/opt/elasticsearch/client-certificates/ca.crt
